body{
    background-color: #0a6341;
    color: white;
}
header{
    background-color: black;
    color: white;
    font-size: 2rem;
    text-align: center;
}
.carta{
    width: 145px;
    position: relative;
    margin-left: -55px;
    left: 100px;
}

#cartajugador,#cartacomputador{
    height: 250px;
}